extends  ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg",alt="imagen sobre nosotros",class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non aliquet justo. Donec vitae orci suscipit, fermentum massa ut, rhoncus eros. Praesent et tortor id eros interdum ornare. Nam iaculis velit in fermentum dapibus.

                p Suspendisse potenti. In suscipit ultricies leo et ornare. Nunc scelerisque viverra sapien, non pulvinar purus pellentesque at. Integer at arcu sit amet ligula interdum faucibus eget ut risus. Proin euismod velit at consequat ornare.

                p Curabitur eu ante nunc. Donec vel fringilla libero. Morbi malesuada dignissim neque eget tempor. Sed vehicula sapien ut nulla hendrerit ultrices et vel mi. Duis elementum nulla quis pulvinar tempor.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="iconoSeguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Curabitur eu ante nunc. Donec vel fringilla libero. Morbi malesuada dignissim neque eget tempor. Sed vehicula sapien ut nulla hendrerit ultrices et vel mi. Duis elementum nulla quis pulvinar tempor.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="iconoDestinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Curabitur eu ante nunc. Donec vel fringilla libero. Morbi malesuada dignissim neque eget tempor. Sed vehicula sapien ut nulla hendrerit ultrices et vel mi. Duis elementum nulla quis pulvinar tempor.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="iconoPrecios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Curabitur eu ante nunc. Donec vel fringilla libero. Morbi malesuada dignissim neque eget tempor. Sed vehicula sapien ut nulla hendrerit ultrices et vel mi. Duis elementum nulla quis pulvinar tempor.

            





